<%= render 'common/user_nav' %>

<% if business.errors.any? %>
  <div class="alert_align5">
      <% business.errors.full_messages.each do |msg| %>
        <h2><%= msg %></h2>
      <% end %>
      <hr class="hr_color">
  </div>
<% end %>

<div class="test">
  <h2>Add a Business</h2><span id="vert"></span>
  <%= form_for @business do |f| %>
    <h3><%= f.label :name %></h3> <%= f.text_field :name %>
    <h3><%= f.label :address %></h3> <%= f.text_field :address %>
    <h3><%= f.label :description %></h3> <%= f.text_area :description, :cols => 20, :rows => 5 %><br><br>
    <%= f.submit "Create" %>
  <% end %>
</div>
