<%= render 'common/user_nav' %>

<div class="biz_align">
  <%= render 'common/business_show_menu' %>
</div>

   <div class="row">
     <div class="col sidebar">
       <div class="flex_header">
         Biz
       </div>
         <hr class="hr_style">
         <br>
         <% if flash[:business_updated] %>
           <div class="alert_align4">
             <h2><%= flash[:business_updated] %></h2>
             <br>
             <hr class="hr_color">
           </div>
         <% end %>
       <div>
         <h2><%= @business.name %></h2><hr>
         <p><%= @business.description %></p>
         <p><%= @business.address %></p>
       </div>
     </div>

     <div class="col mainbar">
         <div class="flex_header">
           My bizlist containing this business
         </div>
           <hr class="hr_style">
           <br>
         <div>
           <% if @business.bizlist %>
             <br><div>Name:&nbsp<%= link_to @business.bizlist.name, user_bizlist_path(current_user, @business.bizlist) %></div><br><div>Description:&nbsp<%= @business.bizlist.description %></div><br><hr>
           <% else %>
              This business has not been added to any of your bizlists
           <% end %>
         </div>
       </div>
