<%= render 'common/user_nav' %>

<div class="biz_align">
  <%= render 'common/business_show_menu' %>
</div>

   <div class="row">
     <div class="col sidebar">
       <div class="flex_header">
         Biz
       </div>
         <hr class="hr_style">
         <br>
         <% if flash[:business_updated] %>
           <div class="alert_align4">
             <h2><%= flash[:business_updated] %></h2>
             <br>
             <hr class="hr_color">
           </div>
         <% end %>
       <div>
         <h2><%= @business.name %></h2><hr>
         <p><%= @business.description %></p>
         <p><%= @business.address %></p>
       </div>
     </div>

     <div class="col mainbar">
         <div class="flex_header">
           Biz Reviews
         </div>
           <hr class="hr_style">
           <br>
           <% if flash[:review_created] %>
             <div class="alert_align4">
               <h2><%= flash[:review_created] %></h2>
               <br>
               <hr class="hr_color">
             </div>
           <% end %>
           <br>
         <div>
           <% if @business.reviews.any? %>
             <% @business.reviews.reverse.each do |review| %>
               <br><div>Experience:&nbsp<%= review.experience %></div><br><div>Location:&nbsp<%= review.location %></div><br><div>Value:&nbsp<%= review.value %></div><br><hr>
             <% end %>
           <% else %>
              This biz has not been reviewed
           <% end %>
         </div>
       </div>
