<%= render 'common/user_nav' %>

<div class="test">
  <div class="biz_align">
    <%= render 'common/business_show_menu' %>
  </div>
   <span id="vert"></span>
   <div>
     <h1><%= @business.name %></h1><hr>
     <p><%= @business.description %></p>
     <p><%= @business.address %></p>
   </div>
</div>
