<%= render 'common/user_nav' %>

<div class="biz_align">
  <%= render 'common/business_show_menu' %>
</div>

   <div class="row">
     <div class="col sidebar">
       <div class="flex_header">
         Biz
       </div>
         <hr class="hr_style">
         <br>
         <% if flash[:business_updated] %>
           <div class="alert_align4">
             <h2><%= flash[:business_updated] %></h2>
             <br>
             <hr class="hr_color">
           </div>
         <% end %>
       <div>
         <h2><%= @business.name %></h2><hr>
         <% if !@business.description.empty? %>
           <p>Description:&nbsp<%= @business.description %></p>
         <% end %>
         <p>Address:&nbsp<%= @business.address %></p><hr class="hr_color">
         <p>Total Reviews: <%= @business.reviews.count %></p>
       </div>
     </div>

     <div class="col mainbar">
         <div class="flex_header">
           Biz Reviews
         </div>
           <hr class="hr_style">
           <br>
           <% if flash[:review_created] %>
             <div class="alert_align4">
               <h2><%= flash[:review_created] %></h2>
               <br>
               <hr class="hr_color">
             </div>
           <% end %>
         <div>
           <% if @business.reviews.any? %>
             <% @business.reviews.reverse.each do |review| %>
               <h2><%= review.user %>'s review</h2><div><%=time_ago_in_words(review.created_at) %> ago</div><br><hr><br>
                 <div>Experience:&nbsp<div class="Stars" style="--rating: <%= review.experience %>;"></div></div>
               <br>
                 <div>Location:&nbsp<div class="Stars" style="--rating: <%= review.location %>;"></div></div>
               <br>
                 <div>Value:&nbsp<div class="Stars" style="--rating: <%= review.value %>;"></div></div>
               <br>
                 <div>Overall:&nbsp<div class="Stars" style="--rating: <%= review.average %>;"></div></div><br><hr><br>
                   <% if !review.comment.empty? %>
                      <%= review.comment %><br><br><hr class="hr_color">
                   <% else %>
                      No comment for this review.<br><br><hr class="hr_color">
                   <% end %>
             <% end %>
           <% else %>
              This biz has not been reviewed
           <% end %>
         </div>
       </div>
