
<%= render 'common/user_nav' %>

<div class="test test_2">
  <h2 class="text_alignment">bizrev sign up</h2><span id="vert"></span>
  <%= form_for @user do |f| %>
    <h3><%= f.label :email %></h3> <%= f.text_field :email %>
    <h3><%= f.label :username %></h3> <%= f.text_field :username %>
    <h3><%= f.label :password %></h3> <%= f.password_field :password %>
    <h3><%= f.label :password_confirmation %></h3> <%= f.password_field :password_confirmation %><br><br>
    <%= f.submit "Create" %>
  <% end %>
</div>
