<% if flash[:name_required] %>
  <div class="alert_align2">
    <h2><%= flash[:name_required] %></h2>
  <hr class="hr_color">
  </div>
<% end %>

<div class="test test_2">
  <p><h2><%= "#{params[:action].titleize}" %> Bizlist</h2></p><span id="vert"></span>
    <%= form_for [user, bizlist] do |f| %>
      <h3><%= f.label :name %></h3> <%= f.text_field :name %>
      <h3><%= f.label :description %></h3> <%= f.text_area :description, :cols => 20, :rows => 5 %><br><br>
      <%= f.submit %>
    <% end %>
</div>
