<% if bizlist.errors.any? %>
  <div class="alert_align3">
      <% bizlist.errors.full_messages.each do |msg| %>
        <h2><%= msg %></h2>
      <% end %>
      <hr class="hr_color">
  </div>
<% end %>

<div class="test test_1">
  <p><h2>Create/Update Bizlist</h2></p><span id="vert"></span>
    <%= form_for [user, bizlist] do |f| %>
      <h3><%= f.label :name %></h3> <%= f.text_field :name %>
      <h3><%= f.label :description %></h3> <%= f.text_area :description, :cols => 20, :rows => 5 %><br><br>
      <%= f.submit %>
    <% end %>
</div>
