
<%= render 'common/user_nav' %>


<div class="row">
  <div class="col sidebar">
  <% if @bizlists.count == 0 %>
    <div class="flex_header">
      My Bizlists
    </div>
      <hr class="hr_style">
      <br>
    <div>
      Select Create Bizlist from the menu to make a new list for biz monitoring and organizing.
    </div>
  <% else %>
  <div class="flex_header">
    My Bizlists
  </div>
  <hr class="hr_style">
    <br>
  <% if flash[:message] || flash[:biz_delete] || flash[:warning]%>
    <div class="alert_align4">
      <h2><%= flash[:message] || flash[:biz_delete] || flash[:warning] %></h2>
      <br>
      <hr class="hr_color">
    </div>
  <% end %>
    <% @bizlists.reverse.each do |bizlist| %>
          <br><div>Name:&nbsp<%= link_to bizlist.name, user_bizlist_path(current_user, bizlist) %></div><br><div>Description:&nbsp<%= bizlist.description %></div><br><hr>
    <% end %>
  <% end %>
  </div>

  <div class="col mainbar">
    <% if @businesses.count == 0 %>
      <div class="flex_header">
        Biz Index
      </div>
        <hr class="hr_style">
        <br>
      <div>
        Select Add a Business from the menu to add a new business.
      </div>
    <% else %>
    <div class="flex_header">
      Biz Index
    </div>
    <hr class="hr_style">
      <br>
    <% if flash[:business] %>
      <div class="alert_align4">
        <h2><%= flash[:business] %></h2>
        <br>
        <hr class="hr_color">
      </div>
    <% end %>
      <% @businesses.reverse.each do |business| %>
            <br><div>Name:&nbsp<%= link_to business.name, business_path(business) %></div><br><div>Description:&nbsp<%= business.description %></div><br><div>Address:&nbsp<%= business.address %></div><br><hr>
      <% end %>
    <% end %>
    </div>
