
<%= render 'common/user_nav' %>


<div class="row">
  <div class="col sidebar">
  <% if @bizlists.count == 0 %>
    <div class="flex_header">
      My Bizlists
    </div>
      <hr class="hr_style">
      <br>
    <div>
      Select Create Bizlist from the menu to make a new list for biz monitoring and organizing.
    </div>
  <% else %>
  <div class="flex_header">
    My Bizlists
  </div>
  <hr class="hr_style">
    <br>
  <% if flash[:message] || flash[:biz_delete] || flash[:warning]%>
    <div class="alert_align4">
      <h2><%= flash[:message] || flash[:biz_delete] || flash[:warning] %></h2>
      <br>
      <hr class="hr_color">
    </div>
  <% end %>
    <% @bizlists.reverse.each do |bizlist| %>
          <div><h2><%= link_to bizlist.name, user_bizlist_path(current_user, bizlist) %></h2></div>
          <div>
            <% if !bizlist.description.empty? %>
               <hr><br>Description:&nbsp<%= bizlist.description %><br><br>
            <% end %>
          </div><hr class="hr_color">
    <% end %>
  <% end %>
  </div>

  <div class="col mainbar">
    <% if @businesses.count == 0 %>
      <div class="flex_header">
        Biz Index
      </div>
        <hr class="hr_style">
        <br>
        <% if flash[:no_search_results] %>
          <div class="alert_align4">
            <h2><%= flash[:no_search_results] %></h2>
            <br>
            <hr class="hr_color"><br>
          </div>
        <% end %>
      <div>
        Select Add a Business from the menu to add a new business.
      </div>
    <% else %>
    <div class="search_align">
      <%= form_tag("/biz_search", method: "get") do %>
      <%= text_field_tag :query, "Search by Business" %>
      <%= submit_tag "Search" %>&nbsp&nbsp|&nbsp&nbsp<hr>
      <% end %>
    </div>

    <div class="search_align search_align_1">
      <%= button_to "Biz reviewed within last 24 hours", biz_filter_within_last_24_hours_path, method: :get %><hr>
    </div>

    <div class="flex_header">
      Biz Index
    </div>
    <hr class="hr_style">
      <br>
    <% if flash[:business] %>
      <div class="alert_align4">
        <h2><%= flash[:business] %></h2>
        <br>
        <hr class="hr_color">
      </div>
    <% end %>
      <% @businesses.reverse.each do |business| %>
            <div><h2><%= link_to business.name, business_path(business) %></h2></div><hr><br>
              <% if business.reviews.empty? %>
                <div>no reviews</div><br><hr><br>
              <% else%>
                <div>average rating:&nbsp<div class="Stars" style="--rating: <%= business.overall_rating %>;"></div></div><br><hr><br>
              <% end %>
            <div>
              <% if !business.description.empty? %>
                 Description:&nbsp<%= business.description %><br><br>
              <% end %>
            </div>
            <div>Address:&nbsp<%= business.address %></div>
            <br><hr class="hr_color">
      <% end %>
    <% end %>
    </div>
