<%= render 'common/user_nav' %>

<div class="biz_align">
  <%= render 'common/bizlist_show_menu' %>
</div>

   <div class="row">
     <div class="col sidebar">
       <div class="flex_header">
         Bizlist
       </div>
         <hr class="hr_style">
         <br>
         <% if flash[:biz_updated] %>
           <div class="alert_align4">
             <h2><%= flash[:biz_updated] %></h2>
             <br>
             <hr class="hr_color">
           </div>
         <% end %>
       <div>
         <h2><%= @bizlist.name %></h2><hr>
         <p><%= @bizlist.description %></p>
       </div>
     </div>

     <div class="col mainbar">
         <div class="flex_header">
           Biz added to this bizlist
         </div>
           <hr class="hr_style">
           <br>
           <% if flash[:biz_added] || flash[:biz_present]%>
             <div class="alert_align4">
               <h2><%= flash[:biz_added] || flash[:biz_present]%></h2>
               <br>
               <hr class="hr_color">
             </div>
           <% end %>
         <div>
           <% if @bizlist.businesses.count == 0 %>
               No businesses have been added to this bizlist.
           <% else %>
               <% @bizlist.businesses.reverse.each do |business| %>
                     <br><div>Name:&nbsp<%= link_to business.name, business_path(business) %></div><br><div>Description:&nbsp<%= business.description %></div><br><div>Address:&nbsp<%= business.address %></div><br><hr>
               <% end %>
           <% end %>
         </div>
       </div>
