<%= render 'common/user_nav' %>

<div class="biz_align">
  <%= render 'common/bizlist_show_menu' %>
</div>

   <div class="row">
     <div class="col sidebar">
       <div class="flex_header">
         Bizlist
       </div>
         <hr class="hr_style">
         <br>
         <% if flash[:biz_updated] %>
           <div class="alert_align4">
             <h2><%= flash[:biz_updated] %></h2>
             <br>
             <hr class="hr_color">
           </div>
         <% end %>
           <div>
             <h2><%= @bizlist.name %></h2>
           </div><hr><br>
           <div>
             <% if !@bizlist.description.empty? %>
               Description:&nbsp<%= @bizlist.description %>
             <% end %>
           </div>
     </div>

     <div class="col mainbar">
         <div class="flex_header">
           Biz added to this bizlist
         </div>
           <hr class="hr_style">
           <br>
           <% if flash[:biz_added] || flash[:biz_present] || flash[:biz_removed] || flash[:biz_not_present] %>
             <div class="alert_align4">
               <h2><%= flash[:biz_added] || flash[:biz_present] || flash[:biz_removed] || flash[:biz_not_present] %></h2>
               <br>
               <hr class="hr_color">
             </div>
           <% end %>
         <div>
           <% if @bizlist.businesses.count == 0 %>
              <br>No businesses have been added to this bizlist.
           <% else %>
               <% @bizlist.businesses.reverse.each do |business| %>
                     <div><h2><%= link_to business.name, business_path(business) %></h2></div><hr><br>
                     <% if !business.description.empty? %>
                       <div>Description:&nbsp<%= business.description %></div><br>
                     <% end %>
                     <div>Address:&nbsp<%= business.address %></div><br><hr class="hr_color">
               <% end %>
           <% end %>
         </div>
       </div>
