<!DOCTYPE html>

<html>
  <head>

      <title>bizrev</title>
      <%= stylesheet_link_tag 'application' %>

  </head>

  <body>

    <nav role="navigation">

      <div id="menuToggle">

        <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>

        <ul id="menu">

          <% if logged_in? %>
            <li><%= link_to "Index", user_bizlists_path(current_user), :method => "get" %></li>
            <li><%= link_to "Create Bizlist", new_user_bizlist_path(current_user), :method => "get"%></li>
            <li><%= link_to "Add a Business", new_business_path, :method => "get" %></li>
            <li><%= link_to "Logout", logout_path, :method => "get" %></li>
          <% else %>
            <li><%= link_to "Back", root_path, :method => "get" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= content_tag(:span, 'Menu', class: "rel") %>

    <% if !!@user && @user.errors.any? %>
      <div class="alert_align1">
        <% @user.errors.full_messages.reverse.each do |message| %>
        <h2><%= message %></h2>
      <% end %>
      <hr class="hr_color">
      </div>
    <% elsif flash[:error] %>
      <div class="alert_align2">
        <h2><%= flash[:error] %></h2>
      <hr class="hr_color">
      </div>
    <% end %>

    <span class="rel_nav_right">Welcome <%= @username %><hr class="hr_color"></span>

    <%= yield %>

  </body>

</html>
